{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Chart Detail - {{ chart_type }}</title>
{% endblock meta %}

{% block content %}
<body class="bg-gray-100">
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr>
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-200 px-4 py-2">
                        CHART DETAIL
                        <div class="text-left text-bold">
                            Tipe: {{ chart_type }}
                        </div>
                        <a href="/ru_melihat_chart/">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-[10px]" type="button">
                                KEMBALI
                            </button>
                        </a>
                    </th>
                </tr>
                <tr>
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-100 px-4 py-2">
                        DAFTAR LAGU
                    </th>
                </tr>
                <tr>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Judul Lagu</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Oleh</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Tanggal Rilis</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Total Plays</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                <tr class="bg-gray-600">
                    <td class="border border-gray-300 px-4 py-2">{{ song.0 }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ song.1 }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ song.2|date:"Y-m-d" }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ song.3 }}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <a href="/get_song_chart/{{song.4}}">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Lihat
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock content %}
