{% extends 'base.html' %}

{% block meta %}
    <title>Lihat Chart</title>
{% endblock meta %}

{% block content %}
<body class="bg-gray-100">

    <!-- List Album Table -->
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr>
                    <th colspan="2" class="text-center border-b border-gray-300 bg-gray-200 px-4 py-2">CHART LIST</th>
                </tr>
                <tr>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Tipe</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600">
                    <td class="border border-gray-300 px-4 py-2">Daily Top 20</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <a href="{% url 'theme:ru_melihat_chart_detail' %}">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Lihat Daftar Lagu
                            </button>
                        </a>
                    </td>
                </tr>
                <tr class="bg-gray-600">
                    <td class="border border-gray-300 px-4 py-2">Weekly Top 20</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <a href="{% url 'theme:ru_melihat_chart_detail' %}">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Lihat Daftar Lagu
                            </button>
                        </a>
                    </td>
                </tr>
                <!-- More Album Rows -->
            </tbody>
        </table>
        <a href="{% url 'theme:show_main' %}">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-[10px]" type="button">
                KEMBALI
            </button>
        </a>
    </div>
    

</body>

{% endblock content %}