{% extends 'base.html' %}

{% block meta %}
    <title>Form Tambah Playlist</title>
{% endblock meta %}

{% block content %}
<body class="bg-gray-100">
    <!-- List Album Table -->
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr> 
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-100 px-4 py-2">
                        ADD SONG TO USER PLAYLIST
                        <form method="POST" action="{% url 'fitur_hijau:action_tambah' playlist_id=playlists.1.1 song_id=songs.id %}">
                            {% csrf_token %}
                            <div class="text-left">
                                <p>Judul: {{ songs.judul }}</p>
                                <p>Artist: {{ songs.artist }}</p>
                                <div class="mb-4">
                                    <label class="block text-gray-700 font-bold mb-2" for="albumLabel">Playlist:</label>
                                    <select name="playlist_select" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="albumLabel">
                                        {% for playlist in playlists %}
                                            <option value="{{ playlist.0 }}">{{ playlist.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="grid grid-row-2 gap-2 mt-2">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                                    TAMBAH
                                </button>
                                <a href="{% url 'fitur_hijau:play_song_main' song_id=songs.id %}">
                                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                        KEMBALI
                                    </button>
                                </a>
                            </div>
                        </form>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>
{% endblock content %}
