{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Play Song Main</title>
{% endblock meta %}

{% block content %}
<body class="bg-gray-100">
    <!-- List Album Table -->
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr>
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-100 px-4 py-2">
                        SONG DETAIL
                        <div class="text-left">
                            <p>Judul: {{ songs.judul }}</p>
                            <p>Genre(s):</p>
                            <ul>
                                <li>- {{ songs.genre }}</li>
                            </ul>
                            <p>Artist: {{ songs.artist }}</p>
                            <p>Songwriter(s):</p>
                            <ul>
                                {% for songwriter in songs.songwriters %}
                                <li>- {{ songwriter }}</li>
                                {% endfor %}
                            </ul>
                            <p>Durasi: {{ songs.durasi }} menit</p>
                            <p>Tanggal Rilis: {{ songs.tanggal_rilis|date:"d/m/Y" }}</p>
                            <p>Tahun: {{ songs.tahun }}</p>
                            <p>Total Play: {{ songs.total_play }}</p>
                            <p>Total Downloads: {{ songs.total_download }}</p>
                            <p>Album: {{ songs.album }}</p>
                        </div>
                        <div class="grid grid-row-5 gap-2 mt-2">

                            <form method="POST" action="{% url 'fitur_hijau:play_button' song_id=songs.id %}">
                                <div class="w-full">
                                    <input type="range" name="range_input" class="w-full range-input">
                                </div>
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="submit">
                                    Play
                                </button>
                            </form>
                            
                            <a href="{% url 'fitur_hijau:tambah_ke_playlist' song_id=songs.id %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Add to Playlist
                                </button>
                            </a>

                            {% if is_premium %}
                            <a href="{% url 'fitur_hijau:download_song' song_id=songs.id %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Download
                                </button>
                            </a>
                            {% endif %}
                            
                            <a href="{% url 'fitur_hijau:crud_kelola_playlist_main' %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Kembali
                                </button>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
        
        {% if messages %}
            <ul class="text-white mt-1">
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
{% endblock content %}