{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto my-8">
    <h1 class="text-4xl text-white text-center font-bold mb-4">Dashboard</h1>
    <br>
    <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl text-black font-bold mb-2">Profil Pengguna</h2>
        <hr><br>
        <p class="mb-2"><strong>Nama:</strong> {{ pengguna.0 }}</p>
        <p class="mb-2"><strong>Email:</strong> {{ pengguna.1 }}</p>
        {% if is_pengguna %}
            <p class="mb-2"><strong>Status Langganan:</strong> {{ status_langganan.0 }}</p>
            <p class="mb-2"><strong>Kota Asal:</strong> {{ pengguna.2 }}</p>
            {% if pengguna.3 == 0 %}
                <p class="mb-2"><strong>Gender:</strong> Perempuan</p>
            {% else %}
                <p class="mb-2"><strong>Gender:</strong> Laki-laki</p>
            {% endif %}
            <p class="mb-2"><strong>Tempat Lahir:</strong> {{ pengguna.4 }}</p>
            <p class="mb-2"><strong>Tanggal Lahir:</strong> {{ pengguna.5 }}</p>
            <p class="mb-2"><strong>Role:</strong> {{ roles }}</p>
        {% elif is_label %}
            <p class="mb-2"><strong>Kontak:</strong> {{ kontak.0 }}</p>
        {% endif %}
    </div>
    
    {% if is_artist == 'True' or is_songwriter == 'True' %}
        <br>
        <div class="mt-8">
            <h2 class="text-xl text-white font-bold mb-4">Daftar Lagu</h2>
            {% if songs %}
                <ul class="text-white">
                    {% for song in songs %}
                        <li>{{ song.0 }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-white">Belum Memiliki Lagu</p>
            {% endif %}
        </div>
    {% endif %}
    {% if is_podcaster == 'True' %}
        <br>
        <div class="mt-8">
            <h2 class="text-xl text-white font-bold mb-4">Daftar Podcast</h2>
            {% if podcasts %}
                <ul class="text-white">
                    {% for podcast in podcasts %}
                        <li>{{ podcast.0 }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-white">Belum Memiliki Podcast</p>
            {% endif %}
        </div>
    {% endif %}
    {% if is_pengguna %}
        <br>
        <div class="mt-8">
            <h2 class="text-xl text-white font-bold mb-4">Daftar Playlist</h2>
            {% if playlists %}
                <ul class="text-white">
                    {% for playlist in playlists %}
                        <li>{{ playlist.0 }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-white">Belum Memiliki Playlist</p>
            {% endif %}
        </div>
    {% elif is_label %}
        <br>
        <div class="mt-8">
            <h2 class="text-xl text-white font-bold mb-4">Daftar Album</h2>
            {% if albums %}
                <ul class="text-white">
                    {% for album in albums %}
                        <li>{{ album.0 }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-white">Belum Memproduksi Album</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}