{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart List</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800">

<div class="container mx-auto my-8">
    <!-- Chart List Table -->
    <div id="chartList" class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        <h2 class="text-center text-xl font-bold mb-2">CHART LIST</h2>
        <table class="min-w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="text-left px-4 py-2 border-b border-gray-300">Tipe</th>
                    <th class="text-center px-4 py-2 border-b border-gray-300">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">Daily Top 20</td>
                    <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">
                        <div class="flex justify-center mt-4">
                        <button onclick="viewChart('Daily Top 20')" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                            Lihat Daftar Lagu
                        </button>
                    </div>
                    </td>
                </tr>
                <tr class="bg-gray-100">
                    <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">Weekly Top 20</td>
                    <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">
                        <div class="flex justify-center mt-4">
                        <button onclick="viewChart('Weekly Top 20')" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                            Lihat Daftar Lagu
                        </button>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center mt-4">
        <button onclick="goBack()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Kembali
        </button>
    </div>
    </div>

    <!-- Chart Detail Section (Initially Hidden) -->
    <div id="chartDetail" class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
        <h2 class="text-center font-bold mb-2">CHART DETAIL</h2>
        <div class="flex justify-center mt-4">
        <button onclick="hideDetail()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Kembali
        </button>
        </div>
        <div id="chartInfo" class="mt-4">
            <table class="min-w-full border-collapse border border-gray-300">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 text-left">Judul Lagu</th>
                        <th class="px-4 py-2 text-left">Artis</th>
                        <th class="px-4 py-2 text-left">Tanggal Rilis</th>
                        <th class="px-4 py-2 text-left">Total Plays</th>
                        <th class="px-4 py-2 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-gray-100">
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">Lagu1</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">Artis1</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">18/03/24</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">1000</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Lihat
                            </button>
                        </td>
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">Lagu2</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">Artis2</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">25/03/24</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">800</td>
                        <td class="px-4 py-2 border-b border-gray-300 bg-gray-300">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Lihat
                            </button>
                        </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }

    function viewChart(chartType) {
        document.getElementById('chartList').style.display = 'none';
        document.getElementById('chartDetail').style.display = 'block';
    }

    function hideDetail() {
        document.getElementById('chartList').style.display = 'block';
        document.getElementById('chartDetail').style.display = 'none';
    }
</script>

</body>
</html>
{% endblock content %}