{% extends 'base.html' %}

{% block meta %}
    <title>Kelola Album & Lagu</title>
{% endblock meta %}

{% block content %}

<body class="bg-gray-100">
    <!-- Modal -->
    <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden" id="songModal" tabindex="-1" role="dialog" aria-labelledby="songModalLabel" aria-hidden="true">
        <div class="relative w-full max-w-md bg-white rounded-lg shadow-lg">
            <div class="flex justify-between items-center p-4 border-b border-gray-200 rounded-t">
                <h5 class="text-lg font-bold text-gray-900" id="songModalLabel">Song Details</h5>
                <button type="button" class="text-gray-800 font-bold" id="closeModalButton">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="relative p-4" id="songModalBody">
            </div>
            <div class="flex justify-end p-4 border-t border-gray-200">
                <button type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" id="closeModalFooterButton">Close</button>
            </div>
        </div>
    </div>

    <!-- Create Album Form -->
    <br>
    <div class="container mx-auto my-auto p-4 bg-white shadow-md rounded">
        <h2 class="text-2xl font-bold mb-4 text-gray-800">CREATE ALBUM</h2>
        <!-- Create Album Form -->
        <form action="/create_album_action/" method="post">
            {% csrf_token %}
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="judul_album" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Judul Album:</label>
                    <input type="text" id="judul_album" name="judul_album" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="label" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Label:</label>
                    <select id="label" name="label" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                        <option value="">Select Label</option>
                        {% for label in labels %}
                            <option value="{{ label.0 }}">{{ label.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Lagu Pertama Form -->
            <h2 class="text-2xl font-bold mb-4 text-gray-800">LAGU PERTAMA</h2>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="artist" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Artist:</label>
                    {% if role == "artist" %}
                        <input type="hidden" name="artist" value="{{ id }}">
                        <select disabled id="artist-drop" name="artist-drop" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                            <option value="">Select Artist</option>
                            {% for artist in artists %}
                                {% if artist.0 == id %}
                                    <option value="{{ artist.0 }}" selected>{{ artist.2 }}</option>
                                {% else %}
                                    <option value="{{ artist.0 }}">{{ artist.2 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% else %}
                        <select id="artist" name="artist" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                            <option value="">Select Artist</option>
                            {% for artist in artists %}
                                <option value="{{ artist.0 }}">{{ artist.2 }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="judul_lagu" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Judul Lagu:</label>
                    <input type="text" id="judul_lagu" name="judul_lagu" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="songwriter" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Songwriter:</label>
                    <select id="songwriter" name="songwriter" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" multiple size="1">
                        <option value="">Select Songwriter</option>
                        {% for songwriter in songwriters %}
                            {% if role == "songwriter" and songwriter.0 == id %}
                                <option value="{{ songwriter.0 }}" selected>{{ songwriter.1 }}</option>
                            {% else %}
                                <option value="{{ songwriter.0 }}">{{ songwriter.1 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="genre" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Genre:</label>
                    <select id="genre" name="genre" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" multiple size="1">
                        <option value="">Select Genre</option>
                        {% for genre in genres %}
                            <option value="{{ genre.0 }}">{{ genre.0 }}</option>
                        {% endfor %}
                    </select>
                </div>                
                
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="durasi" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Durasi:</label>
                    <input type="text" id="durasi" name="durasi" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                </div>
            </div>

            <div class="flex justify-center mt-4">
                <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                    Create Album
                </button>
            </div>
        </form>
    </div>

    <!-- List Album Table -->
    <div class="container mx-auto my-8">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr>
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-200 px-4 py-2">LIST ALBUM</th>
                </tr>
                <tr>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Judul</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Jumlah Lagu</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Total Durasi</th>
                    <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Action</th>
                </tr>
            </thead>
            <tbody>
                {%for album in albums%}
                <tr class="bg-gray-600">
                    <td class="border border-gray-300 px-4 py-2 text-white">{{album.1}}</td>
                    <td class="border border-gray-300 px-4 py-2 text-white">{{album.2}}</td>
                    <td class="border border-gray-300 px-4 py-2 text-white">{{album.4}}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <a id="album-link-{{ album.0 }}" data-album-id="{{ album.0 }}">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Lihat Daftar Lagu
                            </button>
                        </a>
                        <a id="album-add-{{ album.0 }}" data-album-id="{{ album.0 }}">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Tambah Lagu
                            </button>
                        </a>
                        <a id="album-delete-{{ album.0 }}" data-album-id="{{ album.0 }}">
                            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Hapus
                            </button>
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <!-- Create Lagu Form -->
    {% if add_song %}
        <div class="container mx-auto my-auto p-4 bg-white shadow-md rounded">
            <h2 class="text-2xl font-bold mb-4 text-gray-800">CREATE LAGU</h2>
            <form action="/create_song_action/" method="post">
                {% csrf_token %}
                <!-- Lagu Pertama Form -->
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label for="album_drop" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">album:</label>
                        <select disabled id="album_drop" name="album_drop" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                            <option value="{{ album_id }}">{{ album_name }}</option>
                        </select>
                        <input type="hidden" name="album" value="{{ album_id }}">
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label for="artist" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Artist:</label>
                        {% if role == "artist" %}
                            <input type="hidden" name="artist" value="{{ id }}">
                            <select disabled id="artist-drop" name="artist-drop" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                                <option value="">Select Artist</option>
                                {% for artist in artists %}
                                    {% if artist.0 == id %}
                                        <option value="{{ artist.0 }}" selected>{{ artist.2 }}</option>
                                    {% else %}
                                        <option value="{{ artist.0 }}">{{ artist.2 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <select id="artist" name="artist" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                                <option value="">Select Artist</option>
                                {% for artist in artists %}
                                    <option value="{{ artist.0 }}">{{ artist.2 }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label for="judul_lagu" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Judul Lagu:</label>
                        <input type="text" id="judul_lagu" name="judul_lagu" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label for="songwriter" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Songwriter:</label>
                        <select id="songwriter" name="songwriter" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" multiple size="1">
                            <option value="">Select Songwriter</option>
                            {% for songwriter in songwriters %}
                                {% if role == "songwriter" and songwriter.0 == id %}
                                    <option value="{{ songwriter.0 }}" selected>{{ songwriter.1 }}</option>
                                {% else %}
                                    <option value="{{ songwriter.0 }}">{{ songwriter.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label for="genre" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Genre:</label>
                        <select id="genre" name="genre" class="block appearance-none w-full bg-gray-200 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" multiple size="1">
                            <option value="">Select Genre</option>
                            {% for genre in genres %}
                                <option value="{{ genre.0 }}">{{ genre.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>       
                    
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label for="durasi" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Durasi:</label>
                        <input type="text" id="durasi" name="durasi" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
                    </div>
                </div>

                <div class="flex justify-center mt-4">
                    <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                        Create Song
                    </button>
                </div>
                
            </form>
        </div>
    {% endif %}
    

    {% comment %} {% if album_name && show_song %} {% endcomment %}
        <!-- Daftar Lagu Table -->
        <div class="container mx-auto my-8">
            <table class="min-w-full border border-gray-300">
                <thead>
                    <tr>
                        <th colspan="5" class="text-center border-b border-gray-300 bg-gray-200 px-4 py-2">DAFTAR LAGU PADA ALBUM {{album_name}}</th>
                    </tr>
                    <tr>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Judul</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Durasi</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Total Play</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Total Download</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for song in songs%}
                    <tr class="bg-gray-200">
                        <td class="border border-gray-300 bg-gray-600 px-4 py-2 text-white">{{song.0}}</td>
                        <td class="border border-gray-300 bg-gray-600 px-4 py-2 text-white">{{song.1}}</td>
                        <td class="border border-gray-300 bg-gray-600 px-4 py-2 text-white">{{song.2}}</td>
                        <td class="border border-gray-300 bg-gray-600 px-4 py-2 text-white">{{song.3}}</td>
                        <td class="border border-gray-300 bg-gray-600 px-4 py-2">
                            <a id="song-detail-{{ song.4 }}" data-song-id="{{ song.4 }}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Lihat Detail
                                </button>
                            </a>
                            <a id="song-delete-{{ song.4 }}" data-song-id="{{ song.4 }}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Hapus
                                </button>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    {% comment %} {% endif %} {% endcomment %}

</body>

<script>
    document.querySelectorAll('[id^="album-link-"]').forEach(function(element) {
        element.addEventListener('click', function() {
            var newUrl = '/view/album/' + this.dataset.albumId;
            window.location.href = newUrl;
        });
    });

    document.querySelectorAll('[id^="album-add-"]').forEach(function(element) {
        element.addEventListener('click', function() {
            var newUrl = '/addto/album/' + this.dataset.albumId;
            window.location.href = newUrl;
        });
    });

    document.querySelectorAll('[id^="album-delete-"]').forEach(function(element) {
        element.addEventListener('click', function() {
            var newUrl = '/delete/album/' + this.dataset.albumId;
            window.location.href = newUrl;
        });
    });

    document.querySelectorAll('[id^="song-delete-"]').forEach(function(element) {
        element.addEventListener('click', function() {
            var oldUrl = window.location.href;
            var newUrl = '/delete/song/' + this.dataset.songId;
            window.location.href = newUrl;
        });
    });

    document.querySelectorAll('[id^="song-detail-"]').forEach(function(element) {
        element.addEventListener('click', function() {
            var newUrl = '/view/song/' + this.dataset.songId;
            fetch(newUrl)
                .then(response => response.json())
                .then(songDetail => {
                    document.getElementById('songModalLabel').innerHTML = songDetail.judul;
                    document.getElementById('songModalBody').innerHTML = `
                        <p>Artist: ${songDetail.nama}</p>
                        <p>Duration: ${songDetail.durasi}</p>
                        <p>Total Play: ${songDetail.total_play}</p>
                        <p>Total Download: ${songDetail.total_download}</p>`;
                document.getElementById('songModal').classList.remove('hidden');
                });
        });
    });

    document.getElementById('closeModalButton').addEventListener('click', function() {
        document.getElementById('songModal').classList.add('hidden');
    });
    
    document.getElementById('closeModalFooterButton').addEventListener('click', function() {
        document.getElementById('songModal').classList.add('hidden');
    });
</script>


{% endblock content %}