{% extends 'base.html' %}

{% block meta %}
    <title>Form Tambah Playlist</title>
{% endblock meta %}

{% block content %}

<body class="bg-gray-100">

    <!-- List Album Table -->
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr> 
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-100 px-4 py-2">
                        USER PLAYLIST DETAIL
                        <div class="text-left">
                            <p>Judul: Song1</p>
                            <p>Artist: Artist1</p>
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2" for="albumLabel">Playlist:</label>
                                <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="albumLabel">
                                    <option>Playlist 1</option>
                                    <option>Playlist 2</option>
                                    <option>Playlist 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid grid-row-2 gap-2 mt-2">

                            <a href="{% url 'theme:r_play_song_tambah_lagu_clear' %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    TAMBAH
                                </button>
                            </a>
                            <a href="{% url 'theme:r_play_song_main' %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    KEMBALI
                                </button>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    

</body>
{% endblock content %}
