{% extends 'base.html' %}

{% block meta %}
    <title>Play Song Main</title>
{% endblock meta %}

{% block content %}

<body class="bg-gray-100">

    <!-- List Album Table -->
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr> 
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-100 px-4 py-2">
                        SONG DETAIL
                        <div class="text-left">
                            <p>Judul: Song1</p>
                            <p>Genre(s):</p>
                            <ul>
                                <li>- Genre1</li>
                                <li>- Genre2</li>
                            </ul>
                            <p>Artist: Artist1</p>
                            <p>Songwriter(s):</p>
                            <ul>
                                <li>- Songwriter1</li>
                                <li>- Songwriter2</li>
                            </ul>
                            <p>Durasi: 3 menit</p>
                            <p>Tanggal Rilis: 18/03/24</p>
                            <p>Tahun: 2024</p>
                            <p>Total Play: 0</p>
                            <p>Total Downloads: 0</p>
                            <p>Album: Album1</p>
                        </div>
                        <div class="grid grid-row-5 gap-2 mt-2">

                            <input type="range">

                            <a>
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Play
                                </button>
                            </a>
                            <a href="{% url 'theme:r_play_song_tambah_playlist' %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Add to Playlist
                                </button>
                            </a>
                            <a href="{% url 'theme:r_play_song_download_lagu' %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Download
                                </button>
                            </a>
                            <a href="{% url 'theme:show_main' %}">
                                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                    Kembali
                                </button>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    

</body>
{% endblock content %}
