{% extends 'base.html' %}

{% block meta %}
    <title>Riwayat Transaksi</title>
{% endblock meta %}

{% block content %}

<body class="bg-gray-100">

    <!-- List Album Table -->
    <div class="container mx-auto my-8 flex items-center justify-center flex-col">
        <table class="min-w-full border border-gray-300">
            <thead>
                <tr> 
                    <th colspan="5" class="text-center border-b border-gray-300 bg-gray-100 px-4 py-2">
                        Riwayat Transaksi Paket
                    </th>
                    <tr>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Jenis</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Tanggal Dimulai</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Tanggal Berakhir</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Metode Pembayaran</th>
                        <th class="text-center border border-gray-300 bg-gray-400 px-4 py-2 text-left">Nominal</th>
                    </tr>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600">
                    <td class="border border-gray-300 px-4 py-2">1 Bulan</td>
                    <td class="border border-gray-300 px-4 py-2">8 April 2024, 23:00</td>
                    <td class="border border-gray-300 px-4 py-2">8 Mei 2024, 23:00</td>
                    <td class="border border-gray-300 px-4 py-2">E-Wallet</td>
                    <td class="border border-gray-300 px-4 py-2">Rp54.900</td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'theme:cr_langganan_paket_main' %}">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-[10px]" type="button">
                KEMBALI
            </button>
        </a>
    </div>
    

</body>
{% endblock content %}